version: "3.9"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
  redis:
    image: redis:7
    container_name: redis-dev
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.12.2
    user: root
    depends_on:
      elasticsearch:
        condition: service_started
    volumes:
      - ./backend/logs:/var/log/backend
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
    command: ["--strict.perms=false"]

  backend:
    build: ./backend
    env_file: ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      # - ./backend:/app
      - ./backend/logs:/var/log/backend

  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_BACKEND_URL: "http://localhost:5000"
    env_file: ./frontend/.env
    ports:
      - "3000:80"

volumes:
  esdata:
  redisdata: