
.line{
    width: 100%;
    border-bottom: 2px solid lightgray;
    display: block;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 5fr;
    border: 1px solid white;
    width: 90%;
    height: 92vh;
    background-color: #1e1e1e;
    overflow: hidden;
}

.conversationDiv{
     border: 0px solid white;
     padding: 2%;
     overflow-y: auto;
     height: 91vh;
     
}



.conversation{
    height: 100px;
    color: white;
    border: 0px solid white;
    border-radius: 10px;
    padding: 1%;
    margin: 1% 0;
    width: 100%;
    background-color: rgb(35, 38, 38);
}

.conversation:hover{
    cursor: pointer;
}

.conversationInfo{
    display: grid;
    grid-template-columns: 5fr 2fr;
    
}

.conversationInfoP{
    
    margin-bottom: 4px;
}

.conversationMessage{
    display: -webkit-box;
    -webkit-line-clamp: 2;              
    -webkit-box-orient: vertical;
    line-height: 1.4em; 
    max-height: 3.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 100px;
    word-break: break-word;
    color: lightgray;
}

.chatDiv{
    display: flex;
    flex-direction: column;
    color: white;
    height: 92vh;

}

.chatInfoDıv{
    height: 10%;
    border: 0px solid white;
    padding: 1% 0 0 1.5%;
    flex-shrink: 0;
    
}


.messagesDiv{
    flex-grow: 1;
    display: grid;
    max-height: 89%;
    overflow-y: auto;
    width: 136h;
    row-gap: 10px;
    margin-bottom: 1%;
}

.messagesDiv > div:first-child {
  margin-top: 20px;
}

.messagesDiv > div:last-child {
  margin-bottom: 20px;
}

.sentMessage{
    background-color: rgba(20, 77, 55, 0.999);
    display: block;
    grid-auto-rows: min-content;
    justify-self: end;
    max-width: 70vh;
    color: white;
    border-radius: 10px;
    padding: 1% 2% 1% 2%;
    width: auto;
    margin-right: 30px;
}

.receivedMessage{
    background-color: rgb(36, 38, 38);
    display: block;
    grid-auto-rows: min-content;
    justify-self: start;
    max-width: 70vh;
    color: white;
    border-radius: 10px;
    padding: 1% 2% 1% 2%;
    width: auto;
    margin-left: 30px;
}

.messageP{
    word-break: break-all;
    white-space: pre-wrap;
    max-height: 600px;
    overflow-y: auto;
}

.time_checkDiv{
    text-align: end;
    
}

.sendMessageDiv{
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-auto-rows: min-content;  /*height girince grid-auto-rows çalışmıyor, çünkü yükseklik sabit olunca alt eleman büyüse bile değişmiyor*/
    max-height: 600px;
    flex-shrink: 0;
    position: relative;
    bottom: 20px;
    width: 96%;
    margin: 0 auto;
    background-color: rgb(111, 107, 107);
    border-radius: 19px;
    align-content: center;
    
}


.sendMessageControl{
    background-color: rgb(111, 107, 107);
    color: white;
    padding: 6px 20px;
    border: none;
    margin: 0 0 0 14px;
    resize: none;
    height: 40px;
    max-height: 500px;
    
    overflow-y: auto;
    align-content: center;
    resize: none;
    
    border-radius: 19px;
}

.sendMessageControl:focus{
    background-color: rgb(111, 107, 107);
    color: white;
    padding: 4px 10px;
    outline: none !important;
    box-shadow: none;
}

.sendMessageButton{
    height: 30px;
    width: 34px;
    color: white;
    margin: auto 0;
    justify-self: center;
    background-color: rgb(111, 107, 107);
    border: 1px solid white;
    border-radius: 99px;
    font-size: large;
}

