.mainDiv{
    width: 100%;
    /* border: 1px solid black; */
    margin: 1% 0;
    padding: 0 1%;
}

.filterDiv{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 1%;
    border: solid black  1px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 0 10px 0 grey;
}

.searchInput{
    width: 28%;
    display: flex;
    height: 100% !important;
    border: none !important;
    border-right: solid #f2f2f2 2px !important;
    border-radius: 0;

    /* background-image: url('../../image/magnifier.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px center; */
}

.searchInput:focus{
    box-shadow: none;
}

.searchInput::placeholder{
    color: #aaa;
}

.searchInput:not(:placeholder-shown) {
    background-image: none;
}

.searchFiltersDiv{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 0%;
    
}


.searchButton{
    display: flex;
    height: 80%;
    width: 4%;
    background-color: white;
    border: solid black 0px;
    border-radius: 4px;
    align-self: center;

    background-image: url('../../image/magnifier.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 5px center;
}

.clearFilterDiv{
    border: 1px solid black;
    border-radius: 4px;
}

.displayFlex{
    display: flex;
}

.height_100{
    height: 100%;
}




