.sortDiv{
    width: 90px;
    display: flex;
    height: 100% !important;
    border: none !important;
    border-right: solid #f2f2f2 2px !important;
    border-radius: 0;
    flex-grow: 0;
}

.sortSpan{
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.sortSpan:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}