.pageButtonDiv{
    display: flex;
    justify-content: center;
    margin: 1% 0;
}

.pageButton{
    margin: 0 0.5%;
}

.pageButtonEdge{
    background-color: red !important;
    border: solid red !important;
}